.Weather .container {
  max-width: 600px;
  margin: 50px auto;
  background: url("https://images.pexels.com/photos/3941855/pexels-photo-3941855.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 2px 10px 27px rgba(0, 0, 0, 0.2);
}
form {
  width: 100%;
}
h1 {
  font-size: 40px;
}
h2 {
  font-size: 34px;
}
.unit {
  font-size: 20px;
  font-weight: lighter;
}
.properties {
  max-width: 400px;
  margin: 0 auto;
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 2px 10px 27px rgba(0, 0, 0, 0.2);
}
.properties p {
  margin: 5px;
  font-size: 15px;
}
.icons {
  font-size: 28px;
}
