.Weather .container {
  max-width: 600px;
  margin: 50px auto;
  /*background: url("https://images.pexels.com/photos/3941855/pexels-photo-3941855.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;*/
  backdrop-filter: blur(20px);

  box-shadow: 2px 10px 27px 5px rgba(0, 0, 0, 0.2);
}
.Weather form {
  width: 100%;
}
.Weather .btn {
  color: #3c4245;
  background-color: transparent;
  border-color: #3c4245;
}
.Weather .btn:hover {
  color: #fff;
  background-color: #3c4245;
  border-color: #3c4245;
}

.WeatherProps .properties {
  max-width: 400px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 2px 10px 27px 3px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
}
.WeatherProps h2 {
  font-size: 34px;
  color: #303841;
}
.WeatherProps .properties p {
  margin: 5px;
  font-size: 15px;
}
.WeatherProps small {
  font-size: 12px;
  opacity: 0.7;
}
.WeatherProps .icons {
  font-size: 25px;
}

.weatherTemperature h1 {
  font-size: 42px;
}
.weatherTemperature .unit {
  font-size: 20px;
  vertical-align: top;
}
.weatherTemperature a {
  text-decoration: none;
  color: #5c6061fd;
  font-weight: lighter;
}
